body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D5D3CA;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.logo{
    width: 150px;
    height: 150px;
    margin-top: 9px;
    margin-bottom: 7px;
    margin-left: 12px;
}
.logo1 {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 28px;
    border: 5px solid#cfb645;
    border-radius: 9px;
    box-shadow: 3px 3px 9px red;
}

a {
    text-decoration: none;
}
.styled-button {
    background-color: #CFB645;
    border: 4px solid #121211;
    color: #121211;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 629px;
}

.styled-button:hover {
    background-color: #E5322A;
}

main {
    text-align: center;
    padding: 50px 20px;
}

.contacts h1 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 85px;
}

.icon img {
    width: 170px;
    height: 170px;
    padding: 70px;
}

footer {
    background-color: #121212;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}